@font-face {
  font-family: "Airbnb-bold";
  src: url("../assets/fonts/airbnb-cereal-font/AirbnbCereal_W_Bd.otf");
}

@font-face {
  font-family: "Airbnb-regular";
  src: url("../assets/fonts/airbnb-cereal-font/AirbnbCereal_W_Bk.otf");
}

@font-face {
  font-family: "Airbnb-black";
  src: url("../assets/fonts/airbnb-cereal-font/AirbnbCereal_W_Blk.otf");
}

@font-face {
  font-family: "Airbnb-light";
  src: url("../assets/fonts/airbnb-cereal-font/AirbnbCereal_W_Lt.otf");
}

@font-face {
  font-family: "Airbnb-medium";
  src: url("../assets/fonts/airbnb-cereal-font/AirbnbCereal_W_Md.otf");
}

@font-face {
  font-family: "Airbnb-extra-bold";
  src: url("../assets/fonts/airbnb-cereal-font/AirbnbCereal_W_XBd.otf");
}
