@import "./variables";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family-bold);
}

// Typography
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
