@import "../../styles/pxToRem";
@import "../../styles/mediaQuery";

.component {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  height: 10%;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.title {
  height: 100%;
  font-size: pxToRem(18);
  color: var(--primaryColorGray);

  @include mediaQuery(s, up) {
    font-size: pxToRem(26);
  }
}

.videoContainer {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
  position: relative;
  overflow: hidden;

  @include mediaQuery(s, up) {
    height: 75%;
  }
}

.videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.commentsContainer {
  display: flex;
  height: 40%;
  width: 100%;
  margin-top: 20px;

  @include mediaQuery(s, up) {
    height: 20%;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  row-gap: pxToRem(80);
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
}

.countsTitle {
  font-size: pxToRem(18);
  color: var(--primaryColorGray);
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
